*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex
*.aux
*.log
*.bbl
*.blg
*.toc
*.dvi
*.xml
*-blx.bib
.DS_Store
main.pdf
__latexindent_temp.tex
__latexindent_temp.pdf
sections/__latexindent_temp.tex
.vscode
